

*{
 
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

.header{
background: #e58e26;
 overflow: hidden;
 width: 100%;
}
 
.logo{
 width: 25%;
 float: left;
 overflow: hidden;
}
.logo img{
 width: 15%;
 padding: 5px;
 margin: 0px;

}
.barnner_area{
 width: 75%;
 float: left;
 overflow: hidden;
 text-align: center;
 font-size: 25px;
 padding: 5px;
 
}


.menu{
 background: blue;
 text-align: center;
 
}

.menu ul{
display: inline-flex;
list-style: none;
color: #fff;

}
.menu ul li{
 width: 120px;
 margin: 15px;
 padding: 15px;
}
.menu ul li a{
 text-decoration: none;
 color: white;

}

.active, .menu ul li:hover
{background: #4a69bd;
    border-radius: 3px;

}

.menu .fa{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;

}

.menu ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background:#eb2f06;
    margin-top: 15px;
    margin-left: -15px;
}
.menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu ul li:hover .sub-menu-1 ul li a:hover{
    color: #0c2461;
}

.sub-menu-2{
    display: none;

}
.hover-me:hover .sub-menu-2
{
    display: block;
    position: absolute;
    background:#eb2f06;
    margin-top: -40px;
    margin-left: 140px;
}

.fa-angle-right{
    float: right;
}





.main_area{
 width: 100%;
 
}

.sidebar{
 width: 20%;
 overflow: hidden;
 float: left;
 background: orange;


}

.sidebar ul li a{
 text-decoration: none;
 color: white;
 padding: 15px 30px;
 font-size: 30px;
}
.content{
 width: 80%;
 overflow: hidden;
 padding: 10px;
 float: left;
 background: rosybrown;

}

.footer{
 text-align: center; 
 overflow: hidden;
 width: 100%;
 padding: 10px;
 float: left;
 background: black;
 color: white 

}
.footer_copy{
 width: 100%;
 background: gray;
 overflow: hidden;
 float: left;
 text-align: center;
 font-size: 25px; 

}